{% extends 'accueil.html.twig' %}

{% block title %}EntreeController!{% endblock %}

{% block body %}
<a class="btn btn-info" href=""> Enrégistrement d'une entrée</a><br>
    {% if message_error is defined %}
        <span class="text-danger">
        {{ message_error }}
        </span>
    {% endif %}
    <form method="POST" action="">
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="date" class="form-control form-control-user" id="exampleFirstName" name="dateE">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="La quantité" name="qteE">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
               <select class="form-control" name="produit">
                    <option value="">----Selectionner le produit ---</option>
                    {% for produit in produits %}
                    <option value="{{ produit.id }}">{{ produit.libelle }}</option>
                    {% endfor %}
               </select>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
    </form>
{% endblock %}
